In [4]:
user = input("enter yoyr mailid:")
pas = input("enter password:")

enter yoyr mailid:swathyj@gmil.com
enter password:Swathy@123#

In [5]:
a,b = 0,0
for i in range(len(user)):
    if user[i] == "@":
        a = i
    if user[i] == ".":
        b = i
if a < b:
    print("username is valid")
else:
    print("username is invalid")

username is valid

In [8]:
c,d,e,f = 0,0,0,0
for j in pas:
    if j == pas.isupper():
        c += 1
    if j == pas.islower():
        d += 1
    if j == pas.isdigit():
        e += 1
    if (c and d and e)> 0:
        break
        
if (5<len(pas) <=15) and ((c and d and e) > 0):
        print("password is valid")

In [16]:
m = [1,2,23,67]

In [34]:
id(m)

85417800

In [17]:
m.append('last')

In [18]:
m

[1, 2, 23, 67, 'last']

In [35]:
id(m)

85417800

In [19]:
m.insert(2,'abc')

In [20]:
m

[1, 2, 'abc', 23, 67, 'last']

In [22]:
my = list()
my = 1,2,3,4

In [23]:
my

(1, 2, 3, 4)

In [24]:
ganesh = {'tamil':98,'eng':67,'maths':10}

In [25]:
ganesh['tamil']

98

In [26]:
dic = {'gen':{'tam':34,'eng':34},'sur':{'tam':56,'eng':90}}

In [37]:
dic['gen']

{'tam': 34, 'eng': 34}

In [29]:
dic.values()

dict_values([{'tam': 34, 'eng': 34}, {'tam': 56, 'eng': 90}])

In [27]:
dic.keys()

dict_keys(['gen', 'sur'])

In [38]:
city = ['bangalore','chennai','madurai','hyderabad']

In [39]:
cap_cities = []

In [40]:
for i in city:
    k = i.title()
    cap_cities.append(k)
    print(cap_cities)

['Bangalore']
['Bangalore', 'Chennai']
['Bangalore', 'Chennai', 'Madurai']
['Bangalore', 'Chennai', 'Madurai', 'Hyderabad']

In [41]:
cap_cities

['Bangalore', 'Chennai', 'Madurai', 'Hyderabad']

In [42]:
cap_city = [i.title() for i in city]

In [43]:
cap_city

['Bangalore', 'Chennai', 'Madurai', 'Hyderabad']

In [1]:
def addition(a,b):
    c = a+b
    print(c)

In [3]:
a = 80
b = 20
addition(a,b)

100

In [53]:
addition1 = lamda a,b : a+b
def addition1(8,6)

SyntaxError: invalid syntax (<ipython-input-53-ea05614c77a4>, line 1)

In [ ]:
a = []
a = map(int,input('enter :').split())

In [1]:
a = input()

swa fai hac

In [2]:
a

'swa fai hac'

In [ ]:
a

In [ ]:
b = input().split()

In [4]:
b

['8', '9', '10']

In [1]:
newli = list(map(int,input().split()))

1 2 34 4

In [2]:
newli

[1, 2, 34, 4]

In [12]:
N,K = map(int,input('enter n and k:').split())
a =list( map(int,input('enter n elements:').split()))[:N]

enter n and k:6 2
enter n elements:1 2 3 2 4 2

In [13]:
a

[1, 2, 3, 2, 4, 2]

In [14]:
print(a)

[1, 2, 3, 2, 4, 2]

In [15]:
count = 0
for i in a:
    if i == K:
        count += 1
        

if count>0:   
    print ("repitition occurs")
    print(count)
else:
    print(-1)

repitition occurs
3

In [30]:
a = 10

In [31]:
id(a)

8791537775136

In [32]:
a = 22

In [33]:
id(a)

8791537775520