In [1]:
import numpy as n
import pandas as p
import matplotlib.pyplot as plt
import seaborn as s

In [3]:
data = p.read_csv('C:/Users/CUIC/Downloads/AI_ML/Certificate_Programme_in_AI_ML_B2-master/11.2 Chennai Institute of Technology_202114-11-19.csv')

In [4]:
data

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Mobile,Email,Rising
0,ASHOK KUMAR K,100,0,31,9,19400,19400,Electronics and Electrical Engineering,6382040562,ashokkumark.citeee2017@gmail.com,0
1,Chandru,0,20,0,0,14150,14490,Computer Science and Engineering,8667881378,chandrus.citcse2017@gmail.com,340
2,Ganesh Ramkumar R,-1,55,24,6,8790,10790,Computer Science and Engineering,9003671061,science.ganesh007@gmail.com,2000
3,Bodipudi Harini,-1,0,35,-1,10040,10040,Electronics and Communication Engineering,8374994636,harinib.citece2017@gmail.com,0
4,VIINU V P,-1,100,24,-1,9150,9150,Electronics and Electrical Engineering,9629663689,viinu07@gmail.com,0
5,Poojitha Y,0,78,35,0,7210,8970,Computer Science and Engineering,9398028112,poojithareddyyadavalli@gmail.com,1760
6,Gowtham Chandrasekaran,-1,0,0,3,7250,8950,Computer Science and Engineering,9123531534,gowthamdhss@gmail.com,1700
7,Gowtham R,-1,60,4,6,8650,8650,Electronics and Communication Engineering,8778873830,igowthamramesh@gmail.com,0
8,shifak N,58,0,0,0,5180,8320,Electronics and Electrical Engineering,9176141671,rickzzshifak@gmail.com,3140
9,Balaji,-1,100,20,0,6170,8160,Electronics and Electrical Engineering,9677373454,balajit.citeee2017@gmail.com,1990
10,Rushitha,-1,15,62,9,7470,8090,Computer Science and Engineering,9182677571,rushithap.citcse2017@gmail.com,620
11,Balaraman Muthupandi,-1,9,0,0,7670,8050,Computer Science and Engineering,8056659383,balaramanmuthupandi@gmail.com,380
12,JPradhap,100,0,0,0,7340,8030,Electronics and Electrical Engineering,8667868035,pradhapj.citeee2017@gmail.com,690
13,SRIRAMKUMAR B,-1,0,0,0,6400,7940,Computer Science and Engineering,8072845337,sriram9159541445@gmail.com,1540
14,Praneetha,-1,23,100,-1,7170,7730,Electronics and Communication Engineering,7989818281,pranee.karthikeya@gmail.com,560
15,Rahul Raj K,-1,0,0,0,6280,7640,Computer Science and Engineering,7373566290,rahulrajk.citcse2017@gmail.com,1360
16,Guhan S,-1,72,35,39,7310,7630,Electronics and Communication Engineering,9080159965,guhansg.citece2017@gmail.com,320
17,Suryarajan S,-1,63,31,0,6710,7550,Computer Science and Engineering,8122985883,ssuryarajan@gmail.com,840
18,Narasimhan Y L,-1,-1,0,0,4800,6800,Computer Science and Engineering,9182276881,lakshminarasimhany@gmail.com,2000
19,Leelakrishna,-1,6,4,0,5300,6640,Computer Science and Engineering,7904954759,leelakrishna463@gmail.com,1340
20,PremsagarReddy,-1,20,0,0,5290,6290,Computer Science and Engineering,9398571112,premsagarreddypn@gmail.com,1000
21,pradeeban,16,20,24,0,6060,6090,Computer Science and Engineering,9080750565,pradeebanscitcse2017@gmail.com,30
22,santhoshini,-1,43,0,0,3910,5740,Computer Science and Engineering,9087559275,santhoshinikannan5@gmail.com,1830
23,MUKESH S M,-1,46,0,0,5200,5200,Computer Science and Engineering,9445914214,mukeshsm.citcse2017@gmail.com,0
24,P.GOVARDHANAN,-1,40,0,-1,5050,5050,Electronics and Communication Engineering,7010322575,govardhananprabhu@gmail.com,0
25,SHAIK DANISH,-1,43,0,0,4050,4820,Computer Science and Engineering,7989752236,danishshaik.citcse2017@gmail.com,770
26,sridhar.s,-1,52,0,0,3860,4440,Computer Science and Engineering,9123500711,sridhars.citcse2017@gmail.com,580
27,Vimalesh Fernando,-1,0,0,0,4170,4170,Computer Science and Engineering,8939473757,vimalfer07@gmail.com,0
28,M.Karthikeyan,-1,0,4,6,4020,4020,Computer Science and Engineering,8248412053,karthikeyanm.citcse2017@gmail.com,0
29,Abishak s,-1,55,35,6,3220,3220,Electronics and Communication Engineering,8825863823,abiabishaka1999@gmail.com,0
30,praveen raj j,24,-1,0,0,2380,2380,Computer Science and Engineering,7871463190,praveenrajj.citcse2017@gmail.com,0
31,AMARNATH D,-1,52,12,-1,1890,1890,Electronics and Communication Engineering,8248234135,amardncit@gmail.com,0
32,bala,32,49,0,-1,1720,1720,Electronics and Communication Engineering,9791390799,balashenbagamk.citece2017@gmail.com,0
33,XY Z,-1,20,-1,-1,0,0,Computer Science and Engineering,-,xyzcs2017@gmail.com,0
34,Hariharan,-1,-1,-1,0,0,0,Computer Science and Engineering,6383841126,hariharans970@gmail.com,0

In [22]:
e = data[data['CodeKata Score']>15000]
e

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Mobile,Email,Rising
0,ASHOK KUMAR K,100,0,31,9,19400,19400,Electronics and Electrical Engineering,6382040562,ashokkumark.citeee2017@gmail.com,0

In [49]:
e.to_csv('expectations.csv')

In [39]:
f = data[data['CodeKata Score'].between(10000,15000)]
f

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Mobile,Email,Rising
1,Chandru,0,20,0,0,14150,14490,Computer Science and Engineering,8667881378,chandrus.citcse2017@gmail.com,340
2,Ganesh Ramkumar R,-1,55,24,6,8790,10790,Computer Science and Engineering,9003671061,science.ganesh007@gmail.com,2000
3,Bodipudi Harini,-1,0,35,-1,10040,10040,Electronics and Communication Engineering,8374994636,harinib.citece2017@gmail.com,0

In [50]:
f.to_csv('Reached_expectations.csv')
f

In [46]:
g = data[data['CodeKata Score'].between(7000,10000)]
g

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Mobile,Email,Rising
4,VIINU V P,-1,100,24,-1,9150,9150,Electronics and Electrical Engineering,9629663689,viinu07@gmail.com,0
5,Poojitha Y,0,78,35,0,7210,8970,Computer Science and Engineering,9398028112,poojithareddyyadavalli@gmail.com,1760
6,Gowtham Chandrasekaran,-1,0,0,3,7250,8950,Computer Science and Engineering,9123531534,gowthamdhss@gmail.com,1700
7,Gowtham R,-1,60,4,6,8650,8650,Electronics and Communication Engineering,8778873830,igowthamramesh@gmail.com,0
8,shifak N,58,0,0,0,5180,8320,Electronics and Electrical Engineering,9176141671,rickzzshifak@gmail.com,3140
9,Balaji,-1,100,20,0,6170,8160,Electronics and Electrical Engineering,9677373454,balajit.citeee2017@gmail.com,1990
10,Rushitha,-1,15,62,9,7470,8090,Computer Science and Engineering,9182677571,rushithap.citcse2017@gmail.com,620
11,Balaraman Muthupandi,-1,9,0,0,7670,8050,Computer Science and Engineering,8056659383,balaramanmuthupandi@gmail.com,380
12,JPradhap,100,0,0,0,7340,8030,Electronics and Electrical Engineering,8667868035,pradhapj.citeee2017@gmail.com,690
13,SRIRAMKUMAR B,-1,0,0,0,6400,7940,Computer Science and Engineering,8072845337,sriram9159541445@gmail.com,1540
14,Praneetha,-1,23,100,-1,7170,7730,Electronics and Communication Engineering,7989818281,pranee.karthikeya@gmail.com,560
15,Rahul Raj K,-1,0,0,0,6280,7640,Computer Science and Engineering,7373566290,rahulrajk.citcse2017@gmail.com,1360
16,Guhan S,-1,72,35,39,7310,7630,Electronics and Communication Engineering,9080159965,guhansg.citece2017@gmail.com,320
17,Suryarajan S,-1,63,31,0,6710,7550,Computer Science and Engineering,8122985883,ssuryarajan@gmail.com,840

In [58]:
data[(data['CodeKata Score']<10000) & (data['CodeKata Score']>15000)]

Empty DataFrame
Columns: [Name, python, python_en, mysql, computational_thinking, Previous Geekions, CodeKata Score, Department, Mobile, Email, Rising]
Index: []

In [47]:
g.to_csv('Needs_expectations.csv')

In [53]:
data[data['CodeKata Score']<7000]

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Mobile,Email,Rising
18,Narasimhan Y L,-1,-1,0,0,4800,6800,Computer Science and Engineering,9182276881,lakshminarasimhany@gmail.com,2000
19,Leelakrishna,-1,6,4,0,5300,6640,Computer Science and Engineering,7904954759,leelakrishna463@gmail.com,1340
20,PremsagarReddy,-1,20,0,0,5290,6290,Computer Science and Engineering,9398571112,premsagarreddypn@gmail.com,1000
21,pradeeban,16,20,24,0,6060,6090,Computer Science and Engineering,9080750565,pradeebanscitcse2017@gmail.com,30
22,santhoshini,-1,43,0,0,3910,5740,Computer Science and Engineering,9087559275,santhoshinikannan5@gmail.com,1830
23,MUKESH S M,-1,46,0,0,5200,5200,Computer Science and Engineering,9445914214,mukeshsm.citcse2017@gmail.com,0
24,P.GOVARDHANAN,-1,40,0,-1,5050,5050,Electronics and Communication Engineering,7010322575,govardhananprabhu@gmail.com,0
25,SHAIK DANISH,-1,43,0,0,4050,4820,Computer Science and Engineering,7989752236,danishshaik.citcse2017@gmail.com,770
26,sridhar.s,-1,52,0,0,3860,4440,Computer Science and Engineering,9123500711,sridhars.citcse2017@gmail.com,580
27,Vimalesh Fernando,-1,0,0,0,4170,4170,Computer Science and Engineering,8939473757,vimalfer07@gmail.com,0
28,M.Karthikeyan,-1,0,4,6,4020,4020,Computer Science and Engineering,8248412053,karthikeyanm.citcse2017@gmail.com,0
29,Abishak s,-1,55,35,6,3220,3220,Electronics and Communication Engineering,8825863823,abiabishaka1999@gmail.com,0
30,praveen raj j,24,-1,0,0,2380,2380,Computer Science and Engineering,7871463190,praveenrajj.citcse2017@gmail.com,0
31,AMARNATH D,-1,52,12,-1,1890,1890,Electronics and Communication Engineering,8248234135,amardncit@gmail.com,0
32,bala,32,49,0,-1,1720,1720,Electronics and Communication Engineering,9791390799,balashenbagamk.citece2017@gmail.com,0
33,XY Z,-1,20,-1,-1,0,0,Computer Science and Engineering,-,xyzcs2017@gmail.com,0
34,Hariharan,-1,-1,-1,0,0,0,Computer Science and Engineering,6383841126,hariharans970@gmail.com,0

In [73]:
data[(data['Previous Geekions'].mean()) & (data['Previous Geekions'].mean())].mean()

TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [63]:
data['CodeKata Score'].mean()

6801.428571428572

In [64]:
data['Name'].count()

35

In [70]:
data['Rising'].value_counts()

0       14
2000     2
1760     1
770      1
1340     1
3140     1
1990     1
840      1
340      1
30       1
380      1
1360     1
1540     1
1830     1
1000     1
320      1
620      1
580      1
560      1
690      1
1700     1
Name: Rising, dtype: int64